.custom-tweet-button a {
    display: block;
    width: 283px;
    height: 265px;
    background: url("/brand-advocacy-webapp/img/banner.jpg") no-repeat 0 0 transparent;
}
/* Fix z-index */
.UIWorkingWorkspace {
    z-index: 1!important;
}
/* Tweet Popup */
.LightBoxContainer.tweetPopup {
    font-size: 14px;
    background-color: #4f76b5;
    text-align: center;
    position: fixed;
    left: auto;
    right: 0;
    top: 0px;
    bottom: 0;
    color: #fff;
    width: 265px;
    padding: 20px;
    z-index: 2000;
}
.LightBoxContainer.tweetPopup .closepopup {
    background-color: #474747;
    display: block;
    height: 27px;
    line-height: 27px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 27px;
}
.LightBoxContainer.tweetPopup .closepopup:hover .uiIconWhite,
.LightBoxContainer.tweetPopup .closepopup .uiIconWhite:hover {
    background-image: url("/brand-advocacy-webapp/img/uiIconsWhite.png") !important;
}
.LightBoxContainer.tweetPopup .BgContent {
    background: none;
    padding: 0;
}
.LightBoxContainer.tweetPopup .introBox > h3 {
    margin: 30px 0 45px;
    font-size: 22px;
    line-height: 28px;
    color: #fff;
    font-weight: normal;
}
.LightBoxContainer.tweetPopup .introBox > h3.fix-step-3 {
    margin: 10px 0 25px;
}
.LightBoxContainer.tweetPopup .titleStep {
    position: relative;
    margin-left: -52px;
    padding-left: 63px;
    text-align: left;
    margin-bottom: 30px;
    color: #fff;
    line-height: 18px;
}
.LightBoxContainer.tweetPopup .titleStep .textStep {
    display: block;
    margin-right: -40px;
}
.LightBoxContainer.tweetPopup .titleStep .numb {
    display: block;
    width: 30px;
    height: 28px;
    line-height: 26px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    background-color: #474747;
    position: absolute;
    left: 0;
    top: 50%;
    padding-left: 9px;
    margin-top: -14px;
}
.LightBoxContainer.tweetPopup .titleStep .numb:after,
.LightBoxContainer.tweetPopup .titleStep .numb:before {
    content: "";
    display: block;
    position: absolute;
}
.LightBoxContainer.tweetPopup .titleStep .numb:after {
    left: 100%;
    top: 0;
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
    border-left: 14px solid #474747;
}
.LightBoxContainer.tweetPopup .titleStep .numb:before {
    border-bottom: 9px solid transparent;
    border-right: 9px solid #232323;
    top: 100%;
    left: 0;
}
.LightBoxContainer.tweetPopup .quote-popup {
    background: #fff;
    padding: 20px 15px;
    margin-bottom: 20px;
    text-align: justify;
    color: #333;
    position: relative;
    box-shadow: 5px 5px 12px 0 rgba(36, 44, 48, 0.27);
    -moz-box-shadow: 5px 5px 12px 0 rgba(36, 44, 48, 0.27);
    -webkit-box-shadow: 5px 5px 12px 0 rgba(36, 44, 48, 0.27);
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
}
.LightBoxContainer.tweetPopup .quote-popup:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -9px;
}
.LightBoxContainer.tweetPopup .quote-popup:before {
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 9px solid #fff;
}
.LightBoxContainer.tweetPopup .button-flat-balck {
    display: inline-block;
    padding: 10px 15px;
    background: #474747;
    color: #fff;
    border: none;
    min-width: 90px;
    font-size: 14px;
    font-weight: bold;
}
.LightBoxContainer.tweetPopup select,
.LightBoxContainer.tweetPopup textarea,
.LightBoxContainer.tweetPopup input[type="text"],
.LightBoxContainer.tweetPopup input[type="password"],
.LightBoxContainer.tweetPopup input[type="datetime"],
.LightBoxContainer.tweetPopup input[type="datetime-local"],
.LightBoxContainer.tweetPopup input[type="date"],
.LightBoxContainer.tweetPopup input[type="month"],
.LightBoxContainer.tweetPopup input[type="time"],
.LightBoxContainer.tweetPopup input[type="week"],
.LightBoxContainer.tweetPopup input[type="number"],
.LightBoxContainer.tweetPopup input[type="email"],
.LightBoxContainer.tweetPopup input[type="url"],
.LightBoxContainer.tweetPopup input[type="search"],
.LightBoxContainer.tweetPopup input[type="tel"],
.LightBoxContainer.tweetPopup input[type="color"],
.LightBoxContainer.tweetPopup .uneditable-input {
    width: 100%;
    margin-bottom: 0;
}
.LightBoxContainer.tweetPopup .tweetAddrForm .control-label {
    text-align: left;
    color: #fff;
}
.LightBoxContainer.tweetPopup .tweetStepContent {
    padding: 0 23px;
}
.LightBoxContainer.tweetPopup .tweetStepContent .action {
    margin: 30px 0;
}
.LightBoxContainer.tweetPopup .tweetStepContent .action .btn {
    font-weight: bold;
}
.LightBoxContainer.tweetPopup .tweetStepContent.start-step {
    padding: 0;
}
.LightBoxContainer.tweetPopup .tweetStepContent.start-step .titleStep {
    margin-left: -29px;
}
.LightBoxContainer.tweetPopup .tweetStepContent.start-step .btn-start {
    font-size: 18px;
    min-width: 150px;
}
.LightBoxContainer.tweetPopup .tweetStepContent.start-step .btn-start:hover,
.LightBoxContainer.tweetPopup .tweetStepContent.start-step .btn-start:focus {
    background-position: 0;
}
.LightBoxContainer.tweetPopup .tweetStepContent.start-step .action {
    margin: 40px 0;
}
.LightBoxContainer.tweetPopup .tweetStepContent.step-1 .write-review {
    text-align: left;
    color: #fff;
}
.LightBoxContainer.tweetPopup .tweetStepContent.step-1 .write-review a {
    color: #fff;
}
.LightBoxContainer.tweetPopup .tweetStepContent.step-1 .write-review a:hover {
    color: #fff;
}
.LightBoxContainer.tweetPopup .tweetStepContent.step-2 .action {
    margin: 15px 0;
}
.LightBoxContainer.tweetPopup .tweetStepContent.step-3 .thank-title {
    margin-bottom: 15px;
}
.LightBoxContainer.tweetPopup .tweetStepContent.step-3 .thank-content {
    text-align: justify;
    font-size: 14px;
    margin-bottom: 15px;
}
.LightBoxContainer.tweetPopup .tweetStepContent.step-3 .thank-form textarea {
    height: 123px;
    padding: 10px 8px;
    margin-bottom: 20px;
    max-width: 100%;
    min-width: 100%;
    min-height: 123px;
}
.LightBoxContainer.tweetPopup .tweetStepContent.step-3 .thank-form .btn {
    position: relative;
}
.LightBoxContainer.tweetPopup .tweetStepContent.step-3 .thank-form .iconTweetBird {
    margin-right: 5px;
    display: inline-block;
    width: 17px;
    height: 15px;
    background: url("/brand-advocacy-webapp/img/bird.png") no-repeat 0 0 transparent;
    position: relative;
    top: 3px;
    left: -3px;
}
